websockets==16.1
requests
psutil
iperf3
pyshark
aiohttp
manuf
pysnmp
httpx
fastmcp<3
fastapi
redis
passlib
beautifulsoup4
dnspython
fastapi-user-limiter
python-dotenv
aiofiles
onetimesecret
httpx
websocket-client
python-crontab==3.3.0
xmltodict==1.0.4
bcrypt==5.0.0
